<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389687610152-8098pv7d2f9icskf9ac6kfvetmjp5uru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389687610152-8098pv7d2f9icskf9ac6kfvetmjp5uru</string>
	<key>API_KEY</key>
	<string>AIzaSyBPG26Bmr-duQkw-VaaATOFQjLLlu69sF8</string>
	<key>GCM_SENDER_ID</key>
	<string>389687610152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cn.yixinglu.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-bb1ed</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-bb1ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389687610152:ios:412b0d728e2bd45d769e1d</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-bb1ed.firebaseio.com</string>
</dict>
</plist>